<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiko.taikoproject.taikoDao">

	<insert id ="startCrawling" parameterType="hashMap">
        INSERT INTO taiko_songlist 
		(
				song_name,
				song_genre,
				difficulty
		) 
		VALUES 
		(
				#{songs},
                #{songGenre},
                #{difficulty}
		)
        </insert>

		<insert id ="uploadFile" parameterType="hashMap">
			INSERT INTO taiko_board_file
			(
				file_path ,
				file_name
			)
			VALUES
			(
				#{filePath},
				#{fileName}

			)
			<selectKey resultType="int" keyProperty="id" order="AFTER">
        		SELECT LAST_INSERT_ID()
    		</selectKey>   
		</insert>

		<insert id ="uploadPost" parameterType="com.taiko.taikoproject.taikoVO.TaikoParamVO">
			INSERT INTO taiko_board 
			(
				user_name,
				user_profile,
				contents,
				file_no,
				created_time
			)
			VALUES
			(
				#{userName},
				#{userProfile},
				#{contents},
				#{fileNo},
				NOW()
			)
		</insert>
</mapper>